{{ doctype() }}
<html lang="en">
<head>
    <meta charset="utf-8">
    {{ headTitle('Title').setSeparator(' - ').setAutoEscape(false)|raw }}

    {{ headMeta()
    .appendName('viewport', 'width=device-width, initial-scale=1.0')
    .appendHttpEquiv('X-UA-Compatible', 'IE=edge')|raw }}

    <!-- Le styles -->
    {{ headLink({
        'rel': 'shortcut icon',
        'type': 'image/vnd.microsoft.icon',
        'href': basePath() ~ '/img/favicon.ico'
    })|raw }}

    <!-- Scripts -->
    <script
            src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    {{ headScript()|raw }}

</head>
<body>
{% block content %}
    {{ content|raw }}
{% endblock %}
<footer>
    <p>&copy; {{ "now"|date('Y') }} My project</p>
</footer>
{{ inlineScript()|raw }}
</body>
</html>
