{% extends "layout" %}

{% block content %}
    <button id="ajax"> shit </button>
    <script>
        $(document).ready(function(){
           $('#ajax').click(function(){
               $.post('ajax', { var: 255 }, function (data) {
                   console.log(data);
               }, 'json')
           });
        });
    </script>
{% endblock %}
