<?php
$this->headTitle('Welcome');

$this->mainMenu()->setActiveItemId('home');

$this->pageBreadcrumbs()->setItems([
            'Home'=>$this->url('home')
            ]);
?>

<h1>Welcome!!!</h1>

<p>
    This is the Hello World application powered by Zend Framework 3.
</p>

<p>
    You can optically recognize this app using the barcode image below:
</p>

<img src="<?= $this->url('application', ['action'=>'barcode', 
                'type'=>'code39', 'label'=>'HELLO-WORLD']); ?>"/>

